# ignore everything
**

# ...except source and deps
!go.mod
!go.sum
!cmd
!contracts
!db
!event
!graphql
!indexer
!mediaprocessing
!middleware
!publicapi
!server
!service
!util
!validate
!docker
!debugtools
!tokenprocessing
!root-certs
!emails
!adminapi
!tests
!static
!env

# Add metadata and build files
!demo_evm_uniswap
!indexer/pyproject.toml
!*.lock
!README.md

# Add Python code
!**/*.py
**/.*_cache
**/__pycache__

# Add configs and scripts (but not env!)
!**/*.graphql
!**/*.json
!**/*.sql
!**/*.yaml
!**/*.yml
!**/*.j2
!**/.keep